.user_detail_form {
    background-color: lightblue;
    padding: 20px;
  }

  .form_title{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head_area{
    padding: 10px;
  }

  .logout_area{
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .image_section{
    display: flex;
    justify-content: center;
  }

  .image_holder{
    border: 1px solid;
    border-radius: 56px;
    padding: 15px;
  }

  .image_size{
    width: 5em;
    height: 5em;
  }